@import "../iconfont/iconfont.css";
@import "./color.css";

.bg-pan {
  background: url(../img/pan.png);
}

.bg-page1 {
  z-index: -5;
  background: url(../img/bg-page1.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  filter: blur(12px);
  opacity: .7;  
  transform: scale(1.1);
  background-size: cover;
}

.bg-page2 {
  z-index: -5;
  background-size: cover;
  background: url(../img/bg-page2.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  filter: blur(12px);
  opacity: .7;
  transform: scale(1.1);
}
