
html{
  /* css原生也支持变量的设置 */
  --white:white;
  --icon: white;
  --font:white;

  --deactive-color:rgba(235,235,235,0.7);
  --active-color:white;

  --song:white;
  --singer:white;
  
  --lyric:rgb(209, 213, 219);
  --lyric-active:#fff;

  --slider-current:#1cc3ec;
  --slider-buffer:rgb(219, 216, 216);
  --slider-all: #918f8f;

  --card-height:330px;
  --card-width:300px;

  --pan-index:52;
  --card-index:51;
  --page-index:50;
}

