
html{
  /* css原生也支持变量的设置 */
  --white:#fff;
  --lyric:#40ce8f;
  --slider:#15add3;
}

.bg-blue{
  background:var(--blue) !important;
}

.icon-color{
  color:rgb(209, 213, 219) !important;
}

.transition{
  transition:all .3s;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 4px;
}
/* TODO:scroll bar插件 */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: hsla(0,0%,53.3%,.1);
}
::-webkit-scrollbar-thumb {
  background: hsla(0,0%,53.3%,.4);
}